

/* Fonte para o titulo
font-family: 'Roboto', sans-serif; */


/* Design celular */
@media screen and (max-width: 767px){
     html{
          overflow-x: hidden;
     }
     body{
          background-color: #f5ebab4f;
          overflow-x: hidden;
     } 
     header{
          text-align: center;
          height: 290px;
          position: relative;
     } 
     a{
          text-decoration: none;
     }
     video{
          width: 100%;
          height: 250px;
          display: none;
     }
     .logo{
          width: 60%;
          height: 50%;
     }
     .sub-titulo{
          font-size: 1.5em;
          position: absolute;
          bottom: 40px;
          left: -50%;
          right: -50%;
          color:#cfa409;
     }
     .corretora-subtitulo{
          font-size: .8em;
          position: absolute;
          top: 130px;
          left: -50%;
          right: -50%;
          color:#cfa409;
     }

     ul{
          font-size: 1.3em;
          list-style: none;
          background-color: #cc7c132a;
          border-radius: 6px;
          padding: 10px;
     }

     li{
          color:#633706fd;
          font-family: 'Roboto', sans-serif;
     }

     .reserve-agora{
          width: 100%;
          height: 50px;
          border-radius: 6px;
          border-style: none;
          background-color: #55e61c83;
          font-size: 1em;
          font-family: 'Roboto', sans-serif;
          margin-top: 200px;
          
     }
     .quero-esse{
          width: 100%;
          height: 50px;
          border-radius: 6px;
          border-style: none;
          background-color: #55e61c83;
          font-size: 1em;
          font-family: 'Roboto', sans-serif;
          margin-top: 18px;
     }

     .galeria-fotos-titulo{
          color: #DEB72C;
          text-align: center;
          font-size: 1em;
          margin-top: 20%;
          font-family: 'Roboto', sans-serif;
     }

     .galeria-fotos-titulo-2{
          font-family: 'Roboto', sans-serif;
          color: #DEB72C;
          text-align: center;
          font-size: 1em;
          margin-top: 30%;
     }


     footer{
          margin-top: 30%;
          position: relative;
          font-family: 'Roboto', sans-serif;
          background-color: #cc7c132a;

     }
     .endereço-mapa p{
          color: #000000;
          margin-top: 50px;
          font-size: 1em;
          text-align: center;
     }
     .nome-social{
          width: 100%;
          position: absolute;
          bottom: 100%;
          text-align: center;
          font-size: 1.2em;
     }
     .social{
          display: flex;
          padding: 8%;
          justify-content: space-between;
          height: 50px;
          background-color: transparent;
     }
     .face{
          width: 50px;
          height: 50px;
          color: #000000;
     }
     .insta{
          width: 50px;
          height: 50px;
          color: #000000;
     }

     .mail{
          width: 50px;
          height: 50px;
          color: #000000;
     }
     .tel{
          width: 50px;
          height: 50px;
          color: #000000;
     }

     /* Carrossel de fotos primeira Secção*/
     .carrossel {
          width: 100%;
          overflow: hidden;
          position: relative;  
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
     }
     .carrossel-container {
          display: flex;
          transition: transform 0.5s ease-in-out;
     }
     .carrossel img {
          width: 100%;
          height: auto;
          object-fit: cover;
     }
     .carrossel-container.active {
          transform: translateX(-100%);
        
     }
     

     /* Carrossel de fotos primeira Secção */

     /* Carrossel de fotos segunda Secção */
     .carousel {
          width: 100%;
          overflow: hidden;
          position: relative;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
     }
     .carousel-container {
          display: flex;
          transition: transform 0.5s ease-in-out;
     }
     .carousel img {
          width: 100%;
          height: auto;
          object-fit: cover;
     }
     .carousel-container.active {
          transform: translateX(-100%);
     }

     /* Carrossel de fotos segunda Secção */

      /* Carrossel de fotos Terceira Secção */
      
      .carrossel1 {
          width: 100%;
          overflow: hidden;
          position: relative;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
     }
     .carrossel-container1 {
          display: flex;
          transition: transform 0.5s ease-in-out;

     }
     .carrossel1 img {
          width: 100%;
          height: auto;
          object-fit: cover;
     }
     .carrossel-container1.active {
          transform: translateX(-100%);
     }

      /* Carrossel de fotos Terceira Secção */   


        /* Carrossel */

        .slide-to-right {
          font-size: 20px;
          background-color: rgba(68, 64, 64, 0.452);
          color: #ffffff;
          width: 40px;
          height: 100%;
          opacity: 0.75;
          border: none;
          /* border-radius: 50%; */
          cursor: pointer;
          animation: bounce_51 1s infinite;
          position: absolute;
          z-index: 1000;
          top: 0;
          right: 2px;
        }
        @keyframes bounce_513 {
          0%,
            100% {
            transform: translateX(-2%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
          }
        
          50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          }
        }


        .slide-to-left {
          font-size: 20px;
          background-color: rgba(68, 64, 64, 0.452);
          color: #ffffff;
          width: 60px;
          height: 60px;
          opacity: 0.75;
          border: 1px solid #ffffff;
          border-radius: 50%;
          cursor: pointer;
          animation: bounce_51 1s infinite;
          position: absolute;
          z-index: 1000;
          top: 45%;
          left: 2px;
         
        }
        
        @keyframes bounce_51 {
          0%,
            100% {
            transform: translateX(2%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
          }
        
          50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          }
        }
        .img-banner{
          position: absolute;
          width: 120%;
          height: 80%;
          /* z-index: -1; */
          /* display: none; */
          top: 80%;
          left: 1%;

     }

}
                                        /* Modal 1 */
.modal{
     width: 80%;
     height: 470px;
     background-color: #d49440c7;
     position:absolute;;
     display: none;
     z-index: 1000;
     animation: animate;
     animation-duration: 800ms;
     top: 108%;
     left: 10%;
     color: #fff;
     font-family: 'Roboto', sans-serif;
     border-radius: 4px;
     padding: 3px;
}
.p-modal{
     text-align: center;
     background-color: #f5ebab9f;
     color: #000000;
     height: 12%;
     border-radius: 4px;
}

@keyframes animate {
     from{opacity: 1;}
     from{opacity: 0;}
}

.fechar{
     width: 80px;
     height: 50px;
     background-color: #002ea2de;
     text-align: center;
     position: absolute;
     bottom: 0;
     left: 40%;
     margin-bottom: 10px;
     color: #fff;
     border-style: none;
     border-radius: 5%;
}
.lista-modal{
     list-style: none;
     font-family: 'Roboto', sans-serif;
     background-color: #f5ebab9f;
     width:82%;
     margin-left: 3%;

}
.li-modal{
     color: #000000;
     font-size: 1.1em;
     font-family: 'Roboto', sans-serif;
     padding: 5px;
     margin-left: -8%;

}
                                             /* Modal 2 */
.modal1{
     width: 90%;
     height: 350px;
     background-color: #d49440c7;
     position:absolute;;
     display: none;
     z-index: 1000;
     animation: animate;
     animation-duration: 800ms;
     top: 210%;
     left: 5%;
     color: #fff;
     font-family: 'Roboto', sans-serif;
     padding: 7px;
}
.p-modal{
     text-align: center;
     background-color: #f5ebab9f;

}

@keyframes animate {
     from{opacity: 1;}
     from{opacity: 0;}
}

.fechar1{
     width: 80px;
     height: 50px;
     background-color: #002ea2de;
     position: absolute;
     bottom: 0;
     left: 40%;
     margin-bottom: 10px;
     color: #fff;
     border-style: none;
     border-radius: 5%;
}
.lista-modal1{
     list-style: none;
     font-family: 'Roboto', sans-serif;
     margin-top: 9%;
}
.li-modal1{
     color: #000000;
     font-size: 1.2em;
     margin-left: -38px;
     font-family: 'Roboto', sans-serif;
     padding: 2px;
     background-color: #f5ebab9f;
}

                                            /* Modal 3 */

                                  
.modal2{
     width: 90%;
     height: 380px;
     background-color: #d49440c7;
     position:absolute;;
     display: none;
     z-index: 1000;
     animation: animate;
     animation-duration: 800ms;
     top: 306vh;
     left: 5%;
     color: #fff;
     font-family: 'Roboto', sans-serif;
}
.p-modal2{
     text-align: center;
}
.fechar2{
     width: 80px;
     height: 50px;
     background-color: #002ea2de;
     position: absolute;
     bottom: 0;
     left: 40%;
     margin-bottom: 10px;
     color: #fff;
     border-style: none;
     border-radius: 5%;
}
.lista-modal2{
     list-style: none;
     font-family: 'Roboto', sans-serif;
     margin-top: 16%;

}
.li-modal2{
     color: #000000;
     font-size: 1.3em;
     font-family: 'Roboto', sans-serif;
     padding: 2px;
     margin-left: -4%;
     background-color: #f5ebab9f;
     width: 95%;
}

#ver-detalhes1{
     background-color: #e57a086a;
}
#ver-detalhes2{
     background-color: #e57a086a;
}
#ver-detalhes3{
     background-color: #e57a086a;
}

.container-perfil{
     display: flex;
     justify-content: start;
}

.foto-perfil{
     height: 150px;
     top: 30%;
     left: 0;
}

.p-foto-perfil{
     background-color: #fdfdfd6f;
     border-radius: 4px;
     padding: 6px;
}

.p-li-descri{
     font-size: 1.1rem;
}
::-webkit-scrollbar{
     background-color: #00000095;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-thumb{
     background-color: #f5ebab4f;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

/* Design Tablet e Laptop */

@media screen and (min-width: 768px) and (max-width: 4000px){
     

body{    
     background-color: #f5ebab4f;
     position:relative;
     font-family: 'Roboto', sans-serif;
}
header{
     text-align: center;
     margin-top: 4%;
     color: #cfa409;
}
/* picture{

} */

video{
     display: none;
}

a{
     text-decoration: none;
}
ul, ol, li{
     list-style: none;
}

/* .corretora-subtitulo{

} */

.sub-titulo{
     font-size: 1.3em;
}

/* video{

} */

.reserve-agora{
     width: 20%;
     height: 50px;
     border-radius: 6px;
     border-style: none;
     background-color: #55e61c83;
     position:absolute;
     left: 40%; 
     cursor: pointer;
}
.reserve-agora:hover{
     background-color: #55e61cd1;
}

.galeria-fotos-titulo{
     color: #DEB72C;
}

.galeria-fotos-titulo-2{
     color: #DEB72C;
}

.carrossel {
     width: 30%;
     overflow: hidden;
     position: relative;  
     overflow-x: scroll;
     border-radius: 4px;
     position: absolute;
     top: 44%;
     /* -webkit-overflow-scrolling: touch; */
     left: 2%;
}

::-webkit-scrollbar{
     background-color: #00000095;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
}

::-webkit-scrollbar-thumb{
     background-color: #f5ebab4f;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

.carrossel-container {
     display: flex;
     transition: transform 0.5s ease-in-out;
}

.carrossel img {
     width: 100%;
     height: 300px;
     object-fit: cover;
}

.carrossel-container.active {
     transform: translateX(-100%);
   
}

.carrossel1{
     width: 30%;
     overflow: hidden;
     position: relative;  
     overflow-x: scroll;
     border-radius: 4px;
     position: absolute;
     left: 35%;
     top: 44%;
     border-radius: 4px;

     /* -webkit-overflow-scrolling: touch; */
}

.carrossel-container1 {
     display: flex;
     transition: transform 0.5s ease-in-out;
}

.carrossel1 img {
     width: 100%;
     height: 300px;
     object-fit: cover;
}

.carrossel-container1.active {
     transform: translateX(-100%);
   
}

.carousel{
     width: 30%;
     overflow: hidden;
     position: relative;  
     overflow-x: scroll;
     position: absolute;
     top: 44%;
     right: 2%;
     border-radius: 4px;
     /* -webkit-overflow-scrolling: touch; */
}

.carousel-container {
     display: flex;
     transition: transform 0.5s ease-in-out;
}

.carousel img {
     width: 100%;
     height: 300px;
     object-fit: cover;
}

.carousel-container.active {
     transform: translateX(-100%);
}

.quero-esse{
     width: 14.9%;
     height: 50px;
     border-radius: 6px;
     border-style: none;
     background-color: #55e61c83;
     left: 40%; 
     margin-top: .3%;
     cursor: pointer;
}

.quero-esse:hover{
     background-color: #55e61cd1;
}

#ver-detalhes1:hover{
     background-color: #e57a08bc;
}

#ver-detalhes2:hover{
     background-color: #e57a08bc;
}

#ver-detalhes3:hover{
     background-color: #e57a08bc;
}

#ver-detalhes1{
     background-color: #e57a086a;
     width: 14.9%;
     position: absolute;
     top: 66%;
     left: 17%;

}

#ver-detalhes2{
     background-color: #e57a086a;
     position: absolute;
     top: 66%;
     left: 50%;
}

#ver-detalhes3{
     background-color: #e57a086a;
     position: absolute;
     top: 66%;
     left: 83%;

}
#entrar-em-contato1{
     position: absolute;
     top: 66%;
     left: 2%;

}
#entrar-em-contato2{
     position: absolute;
     top: 66%;
     left: 35%;

}
#entrar-em-contato3{
     position: absolute;
     top: 66%;
     left: 68%;

}
#titulo-imovel1{
     position: absolute;
     left: 2%;
     top: 28%;
     width: 30%;
     font-size: 1.3em;
     
}
#li-imovel1{
     position: absolute;
     top: 34%;
     left: 2%;
     background-color: #F4E3C1;
     border-radius: 3px;
     padding: .5em;
     

}

#titulo-imovel2{
     position: absolute;
     left: 35%;
     top: 28%;
     width: 30%;
     font-size: 1.3em;
}

#li-imovel2{
     position: absolute;
     top: 34%;
     left: 35%;
     background-color: #F4E3C1;
     border-radius: 3px;
     padding: .5em;
     margin-left: .5%;
}

#titulo-imovel3{
     position: absolute;
     left: 68%;
     top: 28%;
     width: 30%;
     font-size: 1.3em;
}

#li-imovel3{
     position: absolute;
     left: 68%;
     top: 34%;
     background-color: #F4E3C1;
     border-radius: 3px;
     padding: .5em;
}
.espaco{
     height: 300px;
}
.area-atendimento{
     background-color: #f3e3c6;
     border-radius: 4px;
     text-align: center;
     padding: .2em;
}
.p-foto-perfil{
     text-align: start;
     font-size: 1.3em;
}
.nome-social{
     margin-top: 20px;
     font-size: 1.4em;
}
/* .social{

} */
.face{
     width: 3%;
     height: 3%;
     color: #000000;
     margin-right: 2em;
}
.face:hover{
     color: #00000093;
}

.insta{
     width: 3%;
     height: 3%;
     margin-right: 2em;
     color: #000000;
}
.insta:hover{
     color: #00000093;
}

.mail{
     width: 3%;
     height: 3%;
     margin-right: 2em;
     color: #000000;
}
.mail:hover{
     color: #00000093;
}
.tel{
     width: 3%;
     height: 3%;
     margin-right: 2em;
     color: #000000;
}
.tel:hover{
     color: #00000093;

}
.endereço-mapa{
     color: #000000;
}

.modal{
     position: absolute;
     width: 28%;
     top: 32%;
     left: 3%;
}

/* .lista-modal{

} */

.li-modal{
     font-size: 1.2em;

}
.fechar{
     cursor: pointer;
}

.modal1{
     position: absolute;
     width: 28%;
     top: 39.5%;
     left: 35.6%;
     border-radius: 4px;
}

/* .lista-modal1{

} */

.li-modal1{
     font-size: 1.2em;
     padding: 3px;

}

.fechar1{
     cursor: pointer;
}

.modal2{
     position: absolute;
     width: 28%;
     top: 38.6%;
     left: 69%;
     border-radius: 4px;
}

/* .lista-modal2{

} */

.li-modal2{
     font-size: 1.2em;
     padding: 3px;

}

.fechar2{
     cursor: pointer;
}


.img-banner{
     position: absolute;
     width: 40%;
     height: 25%;
     z-index: -1;
     /* display: none; */
     top: 0%;
     left: 2%;
}
}
